<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329603254190-106kdv6d0414imhggddbn5h4iuclbb0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329603254190-106kdv6d0414imhggddbn5h4iuclbb0o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>329603254190-1fof2jekauo84guta2qsj1cfd2ur5bkr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLEAZctiP0tUHpXjXE9sKclBJ0risrwEc</string>
	<key>GCM_SENDER_ID</key>
	<string>329603254190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groupie</string>
	<key>PROJECT_ID</key>
	<string>chatappflutter-41418</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappflutter-41418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329603254190:ios:a944826783caf2d5122a3f</string>
</dict>
</plist>